<%- include("partials/header.ejs") %>

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Write a Blog you love</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome to our blog website! We're thrilled to have you here. Whether you're seeking insightful articles, helpful tips, or the latest trends, you'll find it all right here. Our team is dedicated to bringing you fresh content that informs, inspires, and entertains. Join our community, engage with our posts, and feel free to share your thoughts. Let's embark on this journey of discovery and growth together! Happy reading!
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Read</button>
      <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Write</button>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    
  </div>
</div>


<%- include("partials/footer.ejs") %>