<%- include("partials/header.ejs") %>

  <h1>whats new in the web </h1>

   <p>
      Size container queries let you change your design based on the width or inline-size of a container, rather than only being able to target the size of the viewport with media queries. This enables more reusable components that can modify themselves based on the available space when placed into a layout. They have been top of the most wanted feature list for almost as long as the concept of responsive design has existed.
      The :has() selector gives us something that has been another top request from developers for many years—a parent selector, a way to select an element based on what is inside it. Though :has() can be much more than just that.As with container queries, this is incredibly useful when creating reusable components, as you can create a single component that can adapt to what it contains.In recent years CSS has taken inspiration from the features developers used in preprocessors such as Sass. For example, CSS Custom Properties, often known as CSS variables, are a widely available feature that allows for variables such as colors to be set in one place and used throughout your CSS, something previously only available when using a preprocessor.
      Another feature of preprocessors is Nesting. Nesting helps to avoid repetition of selectors, and aids readability of CSS, because related things can be more easily grouped together.
    </p>

<%- include("partials/footer.ejs") %>